<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16296048382-abjp851ur015to5qskc54f9vqud2pr39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16296048382-abjp851ur015to5qskc54f9vqud2pr39</string>
	<key>API_KEY</key>
	<string>AIzaSyAtJHk1ZjfL58xCZhfHM6vmJHhmxELQJLU</string>
	<key>GCM_SENDER_ID</key>
	<string>16296048382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>codepie-cb93c</string>
	<key>STORAGE_BUCKET</key>
	<string>codepie-cb93c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16296048382:ios:a819fe621bbd90f0b017af</string>
</dict>
</plist>